/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    background-color: #F4F4F4;
}

.header-bg {
    background-color: #171717 !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 20rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 32rem;
}

.marketing {
    background-color: #fff;
}
.marketing .col-lg-4 {
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette {
    padding-left: 1.5em;
    padding-right: 1.5rem;

}


.featurette-heading {
    font-weight: 300;
    line-height: 1;
}

.footer {
    margin-top: 2rem;
    background-color: #001240;
    color: #fff;
    height: 100%;
    padding: 1rem 3rem;
}